{% extends 'base.html' %}

{% block title %}Rates{% endblock %}

{% block extra_head %}
  <style>
    /* body { overflow: hidden; } */
  </style>
{% endblock %}

{% block content %}
<!-- Filter Section -->
<div 
  x-data="ratesFilters({{ valid_dates|safe }}, '{{ start_date }}', '{{ end_date }}', '{{ month|default:'' }}', '{{ sort_by|default:"latest-updated" }}')" 
  x-init="init()">

   {% include "rates/partials/filter.html" %}

  <!-- Table + Loading -->
  <div class="overflow-hidden border rounded-lg shadow bg-white mt-4 relative shadow-2xl" 
      id="ratesTableWrapper"
      hx-target="#ratesTableWrapper">
    {% include "rates/partials/table.html" %}
  </div>

</div>
{% endblock %}
